[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GrowthCurveME"]
	path = GrowthCurveME
	url = https://github.com/cancermodels-org/growthcurveme
